body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
header{
    background-color:#eeeeee;
    width: 100%;
    padding-top: 10px;
}

header h1{
    display: block;
    font-size: x-large;
    text-align: center;
    font-weight: 600;
    opacity: 70%;
    margin-bottom: 45px;
    
}
header h2{
    justify-content: center;
    border: solid 1px rgb(36, 36, 246);
    color: rgb(36, 36, 246);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    font-weight: 600;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
    border-radius: 3px;
    align-items: center;
}
header h1 a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.90); 
    font-weight: 500;
}
header h1::selection{
    background: red;
}
header #burger_menu{
    display: none;
}
header nav{
    padding-bottom: 10px;
}
header nav ul {
    display: flex;
    list-style: none;
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

header nav ul li {
    display:block;
    margin: 0 auto ;
    text-align: center;
    
}

header nav ul li a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover{
    cursor: pointer;
    color: rgb(81, 90, 212);
}
/* responsive settings */
@media only screen and (max-width:1023px){
    .container_info{
        display: flex;
        padding: 30px;
        flex-direction: column;
        font-size: 12px;
    }
    
    .container_info .imagen{
        width: 100%;
       
    }
    .container_info .imagen img{
        width: 400px;
        height: 400px;
        display: flex;
        margin: auto;
        /* border: solid 1px gray;
        border-radius: 500px; */
        object-fit: contain;
        
    }
    
    .container_info .descripcion{
        max-width: 1200px;
        text-align: center;
        padding: 10pz 50px;
    }

    .container_info .descripcion p{
        padding: 0 100px;
    }
    
    /* Modal About me */
    
    .modal_container{
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.80);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0; 
        left: 0;
        visibility: hidden;
        overflow: hidden;
        font-size: 14px;
    
    
    }
    .modal_container .modal{
        display: flex;
        width: 75%;
        height: 500px;
        background: white;
        margin: 0 auto;
        border-radius: 35px;
        position: relative;
        
    }
    .modal_container .modal .close{
        background-color: #eeeeee;
        border-radius: 50px;
        margin: 16px;
        height: 50p;
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 5px 12px;
        color: black;
    }
    .modal_container .modal .close:hover{
        cursor: pointer;
        background-color: rgb(81, 90, 212);
        color: white;
        transition: 0.2s;
    }
    .modal_container .modal .modal_info {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .modal_container .modal .modal_info span {
        margin: 15px auto;
        border-radius: 200px;
        width: 250px;
        height: 250px;
        overflow: hidden;
        border: solid 1px#cbcbcb;
    }
    
    .modal_container .modal  .modal_text{
        background-color: #eeeeee;
        width: 100%;
        height: 60%;
        /* margin-left: 20px; */
        margin-top: auto;
        margin-bottom: auto;
        padding: 25px 35px;
        border-radius: 20px;
        /* min-width: 470px; */
        margin-right: 65px;
        overflow: scroll;
    }
    
}
@media only screen and (max-width:767px){
    body.responsive{
        overflow: hidden;
    }

    .modal_container.responsive{
        overflow: auto;
    }

    body{
        width: 100%;
        font-family: poppins;
        margin: 0;
        padding: 0;
    }
  
    header{
        background-color:#eeeeee;
        width: 100%;
        padding-top: 10px;
    }

    header h1{
        display: block;
        font-size: x-large;
        text-align: center;
        font-weight: 600;
        opacity: 70%;
        margin-bottom: 20px;
        
    }
    header #burger_menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
     
    }
    header #burger_menu:hover{
        cursor: pointer;
    }

    header #burger_menu img{
        position: absolute;
        top: 35px;
        opacity: 0.8;
    }
    header nav ul {
        display: none;
        list-style: none;
        width: 50%;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 10px;
    }
    header nav ul.show{
        display: block;
        list-style: none;
        width: 50%;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;  
    }
    
    header nav ul li {
        display:block;
        margin: 0 auto ;
        text-align: center;
    }
    
    header nav ul li a{
        text-decoration: none;
        color: black;
    }
    header nav ul li a:hover{
        cursor: pointer;
        color: rgb(81, 90, 212);
    }

    /* container menu */
    .container_galery{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 45px;
    }
    /* .container_galery #closer {
        font-size: 36px;
        font-weight: 400;
        display: inline-block;
        color: red;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        z-index: 10000;
    } */
    
    .container_galery .img_container{
        margin-bottom: 30px;
        padding: 0;
        overflow: hidden;
    
    }
    
    .container_galery .img_container p {
        margin: 0;
        color: gray;
        text-align: center;
        font-size: 12px;
    }
    
    
    .container_galery .galery_img { 
        width: 300px;
        height: 340px;
        object-fit: cover;
        border: solid 1px rgb(185, 185, 185);
        border-radius: 3px;
        position: relative;
        
    }
    .container_galery .galery_img.active { 
        width:100%;
        height: 100vh;
        object-fit: contain;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color:rgba(0, 0, 0, 0.90); 

    }

    .container_galery .galery_img.active:hover{
        opacity: 1;
        transform: none;
        transition: none;
    }
    
    .container_galery .galery_img:hover{
        cursor: none;
    }
      /* Modal responsive About me*/
    
    .modal_container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    visibility: hidden;
    }
    .modal_container .modal{
    display: flex;
    width: 75%;
    height: 500px;
    background: white;
    margin: 0 auto;
    border-radius: 35px;
    position: relative;
    flex-wrap: wrap;
    
    }
    .modal_container .modal .close{
    background-color: #eeeeee;
    border-radius: 50px;
    margin: 16px;
    height: 50p;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 12px;
    color: black;
    }
    .modal_container .modal .close:hover{
    cursor: pointer;
    background-color: rgb(81, 90, 212);
    color: white;
    transition: 0.2s;
    }
    .modal_container .modal .modal_info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .modal_container .modal .modal_info span {
    margin: 15px auto;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: solid 1px#cbcbcb;
    }

    .modal_container .modal .modal_text{
    background-color: #eeeeee;
    width: 100%;
    height: 60%;
    /* margin-left: 20px; */
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px 35px;
    border-radius: 20px;
    }
    /* fin de menu responsive */
}

@media only screen and (max-width:375px){
        
    .container_galery .img_container{
        margin-bottom: 30px;
        padding: 0;
        overflow: hidden;
    }
    
    .container_galery .img_container p {
        margin: 0;
        color: gray;
        text-align: center;
        font-size: 12px;
    }
    
    
    .container_galery .galery_img { 
        width: 300px;
        height: 340px;
        object-fit: cover;
        border: solid 1px rgb(185, 185, 185);
        border-radius: 3px;
        position: relative;
        
    }
    .container_galery .galery_img.active { 
        width:90%;
        height: 100vh;
        object-fit: contain;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color:rgba(0, 0, 0, 0.90); 
    }
}

/* body */
/* .container .grid{
    display: grid;
    height: 350px;
    grid-template-columns: 415px 415px 415px;
    margin: 30px;
    grid-column-gap: 30px;
    
}
.container .grid .item{
    border: solid gray 1px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
} */
/* .container .grid .item .img {
    background-color: gray;
    height: 300px;
    overflow: hidden;
  
} */

.container_galery{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 45px;
}

.container_galery .subtitulo{
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding: 0 25px; 
    padding-bottom: 5px;
    font-size: 18px; 
    font-weight: 600; 
    /* margin-top: 0;  */
    text-align: center;
    /* border-bottom: solid 1px gray; */
}

.container_galery #closer {
    font-size: 26px;
    font-weight: 400;
    display: none;
    padding: 0 20px;
    color: black;
    position: fixed;
    top: 5px;
    right: 55px;
    cursor: pointer;
    z-index: 1000;
    background: gray;
    border-radius: 50px;
    border: solid 1px black;
    padding: 0px 12px;
}
    


.container_galery .img_container{
    margin-bottom: 30px;
}

.container_galery .img_container p {
    margin: 0;
    color: gray;
    text-align: center;
    font-size: 12px;
}


.container_galery .galery_img { 
    width: 400px;
    height: 350px;
    object-fit: cover;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 3px;
    position: relative;
}
.container_galery .galery_img.active { 
    width:100%;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color:rgba(0, 0, 0, 0.90); 
}

.container_galery .galery_img.active:hover{
    opacity: 1;
    cursor:unset;
    transform: none;
    transition: none;
}

.container_galery .galery_img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s all ease;
    opacity: 0.7;
}

/* Sobre mi */
.container_info{
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.container_info .imagen{
    width: 100%;
   
}
.container_info .imagen img{
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    /* border: solid 1px gray;
    border-radius: 500px; */
    object-fit: contain;
    
}

.container_info .descripcion{
    max-width: 1200px;
    text-align: center;
    padding: 10pz 50px;
}

/* .container_info .descripcion h3::before{
content: "";
background: green;
width: 404px;
z-index: ;
} */

.container_info .descripcion p{
    padding: 0 100px;
}

/* Modal About me */

.modal_container{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.80);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    visibility: hidden;
    overflow: hidden;


}
.modal_container .modal{
    display: flex;
    width: 75%;
    height: 500px;
    background: white;
    margin: 0 auto;
    border-radius: 35px;
    position: relative;
    
}
.modal_container .modal .close{
    background-color: #eeeeee;
    border-radius: 50px;
    margin: 16px;
    height: 50p;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 12px;
    color: black;
}
.modal_container .modal .close:hover{
    cursor: pointer;
    background-color: rgb(81, 90, 212);
    color: white;
    transition: 0.2s;
}
.modal_container .modal .modal_info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal_container .modal .modal_info span {
    margin: 15px auto;
    border-radius: 200px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border: solid 1px#cbcbcb;
}

.modal_container .modal .modal_text{
    background-color: #eeeeee;
    width: 100%;
    height: 60%;
    /* margin-left: 20px; */
    margin-top: auto;
    margin-bottom: auto;
    padding: 25px 35px;
    border-radius: 20px;
    /* min-width: 470px; */
    margin-right: 0;
    overflow: scroll;
}

